* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  margin: 0;
  color: #2b3132;
  font-weight: 400;
  line-height: 20px;
}

header{
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  height: 210px;
  text-align: center;
  padding-top: 10px;
}

/********************************************
  NAVIGATION
*******************************************/

#nav{
    text-align: center;
    padding-bottom: 5px;
    background-color: white;
    display: row;
}

#nav ul {
    list-style: none;
}

#nav li{
    display: inline-block;
    padding-bottom: 10px;
}

#nav a{
    font-family: 'Open Sans' sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0px 25px;
    color:  #3a3938;
    padding-bottom: 8px;
    display: block;
    position: relative;
    text-decoration: none;
}

#nav a:after{
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    background: #009f88;
    height: 2px;
    bottom: 0;
    opacity: 0;
    transition: all .2s;
    transform: translateY(10px);
}

#nav a.selected:after, #nav a:hover:after{
    opacity: 1;
    transform: translateY(0px);
}

#nav .active {
    color:  #009f88;
    font-weight: 600;
}

#nav a.logo:after {
    display: none;
  }

body {
  background:#e7e7e7;
}

#box1 {
  width:33,3%;
}

#overlay {
  background:rgba(0,0,0,.75);
  padding:120px 20px 66px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  height: 450px;
}

#box1:hover #overlay {
    opacity:1;
}

#beschreibung {
  font-family: 'Open Sans' sans-serif;
  font-weight:300;
  color: white;
  font-size:16px;
  line-height: 1.8;
  text-transform: uppercase;
}

h1 {
  font-family: 'Open Sans' sans-serif;
  font-weight:600;
  font-size:16px;
  color: #009f88;
  line-height: 0;
}

.container {
  display: inline-block;
  width: 100%;
  height: auto;
}

.box {
  width: 33.33%;
  height: 450px;
  float: left;
  background-size: cover;
  background-position: center center;
}

footer{
  font-family: 'Open Sans' sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  background-color: white;
  color: #009f88;
  bottom: 0;
  width: 100%;
}
